
/* mobile view styling */
@media only screen and (max-width: 550px) {
	/* ...your css here and you're good to go! */
	section#profile{
		position: relative;
		width: 100vw;
		height: calc(100vh - 7.5vh);
		font-family: "Poppins", sans-serif;
	}

	section#profile>h1{
		margin-top: 4vh;
		text-align: center;
		font-size: 2.5vh;
	}

	section#profile>form{
		position: relative;
		width: 100%;
		height: auto;
		margin-top: 5vh;
		display:grid;
		font-size: 2vh;
	}
	section#profile>form>label{
		display: grid;
		width: 75%;
		margin: 0 12.5%;
		font-weight: 550;
	}
	section#profile>form>label>input{
		font-family: "Poppins", sans-serif;
		font-size: 1.8vh;
		display: flex;
		height: 6vh;
		border: none;
		border-bottom: 1px solid silver;
		margin-bottom: 3vh;
	}
	section#profile>form>label>input::placeholder{
		color: silver;
	}
	section#profile>form>label>input:focus{
		outline: none;
	}

	section#profile>h2{
		font-size: 2.3vh;
		width: 75%;
		margin: 9% 12.5% 5%;
	}
	section#profile>.notif{
		background-color: rgba(192, 192, 192, 0.309);
		width: 100%;
		height: 10%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 12.5%;
	}
	section#profile>.notif>p{
		font-size: 1.7vh;
		font-weight: 500;
	}
	section#profile>.notif>button{
		position: relative;
		width: 10vh;
		height: 5vh;
		border: none;
		border-radius: 50px;
		box-shadow: 0 0 2px 1px #aaa;
	}
	section#profile>.notif>button>.circle{
		position: absolute;
		top: 0;
		width: 50%;
		height: 95%;
		border-radius: 50%;
		margin: 1.6% 2px;
		transition: 0.1s linear;
	}
	.notif-close{
		background-color: silver;
		left: 0;
	}
	.notif-open{
		background-color: var(--yelBG);
		right: 0;	
	}

}