section#register{
	position: relative;
	width: 100vw;
	height: 100vh;
	background: var(--yelBG);
}
/* mobile view styling */
@media only screen and (max-width: 550px) {
	/* ...your css here and you're good to go! */
	section#register>#back-button{
		position: absolute;
		top: 2vh;
		left: 2vh;
		font-size: 4vh;
		z-index: 5;
	}
	section#register>form{
		position: absolute;
		width: 100%;
		height: 100%;
	}

	section#register>form>.form-title{
		position: relative;
		margin-top: 40%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2vh;
	}
	section#register>form>.form-title>h1{
		font-family: "Poppins", sans-serif;
		font-weight: 750;
	}

	section#register>form>.inputs{
		position: relative;
		width: 100%;
		height: 24%;
		display: grid;
		gap: 2vh;
		margin-top: 7.5%;
	}
	section#register>form>.inputs>input{
		width: 75%;
		margin: 0 12.5%;
		border-radius: 1vh;
		border: none;
		background: var(--yelInput);
		font-family: "Poppins", sans-serif;
		font-size: 1.7vh;
		padding-left: 5%;
		color: black;
	}
	section#register>form>.inputs>input::placeholder{
		color: black;
	}
	section#register>form>.inputs>input:focus{
		outline: none;
		box-shadow: 0 0 2px 1px #333;
	}

	section#register>form>button{
		position:relative;
		margin-top: 2.5vh;
		left:50%;
		transform: translateX(-50%);
		padding: 2.5% 21%;
		border-radius: 1vh;
		border: none;
		font-family: "Poppins", sans-serif;
		font-size: 2vh;
		font-weight: 550;
	}

	section#register>form>#toLogin{
		position: relative;
		width: 75%;
		margin: 0 12.5%;
		margin-top: 3vh;
		display: flex;
		font-size: 1.75vh;
		justify-content: space-between;
	}
	section#register>form>#toLogin>a{
		font-family: "Poppins", sans-serif;
		color: white;
	}
}