h1, p{
	font-family: "Poppins", sans-serif;
}
/* mobile view styling */
@media only screen and (max-width: 550px) {
	/* ...your css here and you're good to go! */
	section#options{
		position: relative;
		width: 100vw;
		height: calc(100vh - 7.5vh);
		/* background-color: teal; */
	}

	section#options>h1{
		position: absolute;
		top: 5%;
		font-size: 2.5vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	section#options>.select{
		position: absolute;
		box-shadow: 0 0 2px 1px #aaa;
		width: 90%;
		height: 30vh;
		margin: 0 5%;
		border-radius: 1vh;
	}
	section#options>.select-assistance{top: 14%;}
	section#options>.select-location{top: 55%;}
	section#options>.select>.image{
		position: relative;
		width: 100%;
		height: 70%;
	}
	section#options>.select>.image>img{
		position: relative;
		height: 90%;
		width: 80%;
		margin: auto 10%;
		object-fit: contain;
		object-position: center;
		/* margin: auto; */
		/* border: 1px solid red; */
	}
	section#options>.select>button{
		height: 20%;
		width: 80%;
		margin: 0 10%;
		background-color: var(--yelBG);
		border: none;
		font-family:"Poppins", sans-serif;
		font-size: 1.8vh;
		font-weight: 600;
		border-radius: 1vh;
	}
}