@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
/* font-family: Agbalumo; */

:root {
	--yelBG: #F7C910;
  /* var(--yelBG) */
	--yelInput: #E3BA12;
  /* var(--yelInput) */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  color: black;
}
